@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;500;600;700;800&display=swap');
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


// Reset end


// Variables
$font-name: 'Darker Grotesque', sans-serif;
$black: #000;
$dark-grey: #1e1e1e;
$white: #fff;

// Breakpoints
$mobile-landscape: 30rem; // 480px
$tablet: 40rem; // 640px
$tablet-wide: 48rem; // 768px
$desktop: 64rem; // 1024px
$widescreen: 71.25rem; // 1140px

// End Varaiables


html,body{
	background: $dark-grey;
	background-image: url('/dots.png');
}
a,h1,h2,h3,h4,h5,h6,p,{
	color: $white;
}

body{
 font-family: $font-name;
 overflow: hidden;

}

// Basic layout
.container{
  max-width: 800px;
  margin: 0 auto;
  position: relative;
  @media (max-width: $tablet-wide){
      width: 100%;
  }
}

main{
	position: relative;
}

.bg-wrapper{
	width: 100%;
	.gradient-1{
			position: absolute;
			top: -1000px;
			right: -500px;
	}
	.gradient-2{
			width: 1800px;
			position: absolute;
			bottom: -1400px;
			left: -900px;
	}
}

.main-box{
	position: relative;
  overflow: hidden;
	.hero-gradient-bg{
		position: absolute;
		z-index: 0;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		overflow: hidden;
		filter: blur(120px);
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		pointer-events: none;
		@media (max-width: $mobile-landscape){
					filter: blur(80px);
		}
		.gradient{
			position: absolute;
	    border-radius: 100%;
	    opacity:1;
	    -webkit-animation-iteration-count: infinite;
	    animation-iteration-count: infinite;
	    -webkit-animation-timing-function: cubic-bezier(.1,0,.9,1);
	    animation-timing-function: cubic-bezier(.1,0,.9,1);
		}
		.gradient-1{
			width: 700px;
	    height: 700px;
	    z-index: -2;
	    left: 60%;
	    top: 40%;
	    -webkit-animation-duration: 11s;
	    animation-duration: 11s;
	    -webkit-animation-name: animation-gradient-1;
	    animation-name: animation-gradient-1;
			background: #7928CA;
			@media (max-width: $mobile-landscape){
						height: 300px;
						height: 300px;
			}
		}
		.gradient-2{
			width: 600px;
	    height: 600px;
	    z-index: -1;
	    left: 50%;
	    top: 60%;
	    -webkit-animation-duration: 11s;
	    animation-duration: 11s;
	    -webkit-animation-name: animation-gradient-2;
	    animation-name: animation-gradient-2;
	    animation-direction: reverse;
			background: #00C2FF;
			@media (max-width: $mobile-landscape){
						height: 300px;
						height: 300px;
			}
		}
		.gradient-3{
			width: 600px;
	    height: 600px;
	    z-index: -3;
	    left: 50%;
	    top: 50%;
	    -webkit-animation-duration: 11s;
	    animation-duration: 11s;
	    -webkit-animation-name: animation-gradient-3;
	    animation-name: animation-gradient-3;
			background: #F32B8B;
			@media (max-width: $mobile-landscape){
						height: 300px;
						height: 300px;
			}
		}
	}
}
.main-box{
	color: $white;
	display: flex;
	height: 100vh;
	align-items: center;
	justify-content: center;
	text-align: center;
	img{
		width: 600px;
	}
	h1{
		font-size: 48px;
		font-weight: 200;
		margin-bottom: 12px;
	}

	a{
		display: inline-flex;
		justify-content: center;
		margin-top: 24px;
		text-decoration: none;
		font-size: 24px;
		line-height: 100%;
		border: 1px solid $white;
		padding: 12px 30px;
		border-radius: 25px;
	}
}

.logo-wrapper{
	z-index: 1;
	@media (max-width: $mobile-landscape){
        padding: 32px;
  }

	.logo{
		width: 600px;
		@media (max-width: $mobile-landscape){
	        width: 300px;
	  }
	}

	h1{
		font-size: 48px;
		@media (max-width: $mobile-landscape){
	        font-size: 32px;
	  }
	}
}
// Animations
@-webkit-keyframes animation-gradient-1{
    0% {
        transform: translateY(-50%) translateX(-50%) rotate(-20deg) translateX(20%);
    }
    25% {
        transform: translateY(-50%) translateX(-50%) skew(-15deg, -15deg) rotate(80deg) translateX(30%);
    }
    50% {
        transform: translateY(-50%) translateX(-50%) rotate(180deg) translateX(25%);
    }
    75% {
        transform: translateY(-50%) translateX(-50%) skew(15deg, 15deg) rotate(240deg) translateX(15%);
    }
    to {
        transform: translateY(-50%) translateX(-50%) rotate(340deg) translateX(20%);
    }
}
@keyframes animation-gradient-1 {
    0% {
        transform: translateY(-50%) translateX(-50%) rotate(-20deg) translateX(20%);
    }
    25% {
        transform: translateY(-50%) translateX(-50%) skew(-15deg, -15deg) rotate(80deg) translateX(30%);
    }
    50% {
        transform: translateY(-50%) translateX(-50%) rotate(180deg) translateX(25%);
    }
    75% {
        transform: translateY(-50%) translateX(-50%) skew(15deg, 15deg) rotate(240deg) translateX(15%);
    }
    to {
        transform: translateY(-50%) translateX(-50%) rotate(340deg) translateX(20%);
    }
}

@-webkit-keyframes animation-gradient-2 {
    0% {
        transform: translateY(-50%) translateX(-50%) rotate(40deg) translateX(-20%);
    }
    25% {
        transform: translateY(-50%) translateX(-50%) skew(15deg, 15deg) rotate(110deg) translateX(-5%);
    }
    50% {
        transform: translateY(-50%) translateX(-50%) rotate(210deg) translateX(-35%);
    }
    75% {
        transform: translateY(-50%) translateX(-50%) skew(-15deg, -15deg) rotate(300deg) translateX(-10%);
    }
    to {
        transform: translateY(-50%) translateX(-50%) rotate(400deg) translateX(-20%);
    }
}
@keyframes animation-gradient-2 {
    0% {
        transform: translateY(-50%) translateX(-50%) rotate(40deg) translateX(-20%);
    }
    25% {
        transform: translateY(-50%) translateX(-50%) skew(15deg, 15deg) rotate(110deg) translateX(-5%);
    }
    50% {
        transform: translateY(-50%) translateX(-50%) rotate(210deg) translateX(-35%);
    }
    75% {
        transform: translateY(-50%) translateX(-50%) skew(-15deg, -15deg) rotate(300deg) translateX(-10%);
    }
    to {
        transform: translateY(-50%) translateX(-50%) rotate(400deg) translateX(-20%);
    }
}

@-webkit-keyframes animation-gradient-3 {
    0% {
        transform: translateY(-50%) translateX(-50%) translateX(-15%) translateY(10%);
    }
    20% {
        transform: translateY(-50%) translateX(-50%) translateX(20%) translateY(-30%);
    }
    40% {
        transform: translateY(-50%) translateX(-50%) translateX(-25%) translateY(-15%);
    }
    60% {
        transform: translateY(-50%) translateX(-50%) translateX(30%) translateY(20%);
    }
    80% {
        transform: translateY(-50%) translateX(-50%) translateX(5%) translateY(35%);
    }
    to {
        transform: translateY(-50%) translateX(-50%) translateX(-15%) translateY(10%);
    }
}
@keyframes animation-gradient-3{
    0% {
        transform: translateY(-50%) translateX(-50%) translateX(-15%) translateY(10%);
    }
    20% {
        transform: translateY(-50%) translateX(-50%) translateX(20%) translateY(-30%);
    }
    40% {
        transform: translateY(-50%) translateX(-50%) translateX(-25%) translateY(-15%);
    }
    60% {
        transform: translateY(-50%) translateX(-50%) translateX(30%) translateY(20%);
    }
    80% {
        transform: translateY(-50%) translateX(-50%) translateX(5%) translateY(35%);
    }
    to {
        transform: translateY(-50%) translateX(-50%) translateX(-15%) translateY(10%);
    }
}
